node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Android build and configuration files
android/.gradle/
android/build/
android/local.properties
android/proguard/
android/.navigation/
android/captures/
android/**/*.iml
android/.idea/
android/externalNativeBuild/
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
